[submodule "vendor/aata"]
	path = vendor/aata
	url = https://github.com/twjudson/aata
[submodule "examples/openai-wiles"]
	path = examples/openai-wiles
	url = https://github.com/ityonemo/openai-wiles.git
